#color-palette{

}
.color {
    width: 70px;
    height: 70px;
    display: inline-block;
    border: 1px black solid;

}


.preto {
    background-color: black;
}

.azul {
    background-color: blue;
}

.vermelho {
    background-color: red;
}

.verde {
    background-color: green;
}